.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.DS_Store
hacking
.idea
scratch.*
cook.sh
.vscode

# Code generation airtable
CodeGenerationTools/GridworksCore/SassyMQ/
CodeGenerationTools/GridworksCore/.ssotme/**/*.zfs
CodeGenerationTools/GridworksCore/SMQL/